//ignores the map file
*.css.map

//ignores the fonts until I am have determined which ones to use
sprint-1/assets/fonts-master/
sprint-1/styles/partials/_fonts-master.scss
sprint-2/assets/fonts-master/
sprint-2/styles/partials/_fonts-master.scss

// ignore vscode
sprint-1/.vscode/
sprint-2/.vscode/

// ignore hidden files
*.DS_Store
*.gitignore           


// ignore .zip and txt files
*.zip
*.txt