html,
body {
  box-sizing: border-box;
  //   width: 100%;
  @include font__mobile-normal;
  //   min-width: $mobile__min-width;
  margin: 0px;
  @include tablet {
    @include font__normal;
  }
}
.hero-banner__container {
  width: 100%;
  height: 57.19vw;
  min-width: $mobile__min-width;
  //   min-height: 183px;
  background-size: cover;
  margin: 0 0 $mobile__grid-margin 0;
  position: relative;
  background-image: $hero-image__overlay;
  @include tablet {
    height: 52.08vw;
  }
}
.hero-banner__title {
  @include font__mobile-h1-header;
  position: absolute;
  top: 20%;
  width: 60%;
  left: $mobile__grid-margin;
  color: white;
  @include tablet {
    @include font__hero-header;
  }
}

.about__container {
  margin: $mobile__grid-margin * 2 $mobile__grid-margin $mobile__grid-margin *
    2.5 $mobile__grid-margin;
}
.about__title {
  @include font__mobile-h1-header;
  margin: 0;
}
// .about__inner-container {
// }
.about__image {
  //   min-width: 288px;
  width: 100%;
  margin: $mobile__grid-gutter 0;
}
.about__caption {
  margin: 0;
  @include font__mobile-h2-header;
}
.about__caption-author {
  margin: $base__padding * 4 0 $base__padding * 5 0;
}
.about__inner-container-tittle {
  margin: 0;
}
.about__artice-container {
  margin: $base__padding * 3 0 $base__padding * 5 0;
}
.about__article:first-child {
  margin-top: 0px;
}
.about__article:last-child {
  margin-bottom: 0px;
}
.photo-gallery__container {
  margin: $mobile__grid-margin * 2 $mobile__grid-margin $mobile__grid-margin * 2
    $mobile__grid-margin;
}
.photo-gallery__title {
  margin-top: 0 0 $base__padding * 3 0;
  @include font__mobile-h1-header;
}
.photo-gallery__grid-container {
  margin: 0px;
}
.photo-gallery__image-container {
  margin: 0 0 $base__padding * 2 0;
  object-fit: cover;
}
.photo-gallery__image {
  min-width: $mobile__min-width - ($mobile__grid-margin * 2);
  width: 100%;
  object-fit: contain;
}
