.nav__container {
  min-height: $nav-bar__height;
  width: 100%;
  min-width: $mobile__min-width;
  @include display-flex(column, center, center);
  background-color: $color__navigation-background-fill--bandsite;
  color: $color__field-background-fill;
  @include tablet {
    @include display-flex(row, flex-start, center);
  }
}
.nav__logo {
  width: 100%;
  text-align: center;
  @include font__mobile-h1-header;
  margin: 0.32rem 0 0.92rem 0;
  @include tablet {
    width: $tablet__grid-column + $tablet__grid-gutter;
    @include font__h2;
    margin-left: $tablet__grid-margin;
  }
}

.nav__link-list {
  @include display-flex(row, right, flex-end);
  list-style-type: none;
  padding-left: 0;
  margin: 0px;
  width: 100%;
  padding-bottom: $base__padding;
  @include tablet {
    width: ($tablet__grid-column + $tablet__grid-gutter) * 2;
  }
}
.nav__list-item {
  width: 50%;
  min-width: $mobile__min-width/2;
  text-align: center;
  position: relative;
  &--current-page {
    &::after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0px;
      height: 5px;
      width: 100%;
      background-color: $color__field-background-fill;
    }
  }
  @include tablet {
    text-align: right;
    &--current-page {
      &::after {
        bottom: -32px;
        left: 85px;
        width: 80px;
      }
    }
  }
}
.nav__link {
  text-decoration: none;
  @include font__mobile-h2-header;
  color: $color__label-style;
  position: relative;
  &--current-page {
    color: $color__field-background-fill;
  }
  @include tablet {
    @include font__sub-header;
  }
}
