.footer {
  &__container {
    min-width: $mobile__min-width;
    width: 100%;
    background-color: $color__navigation-background-fill--bandsite;
    color: $color__field-background-fill;
    padding-bottom: $base__padding * 5;
  }
  &__inner-container {
    padding: $base__padding * 5 $mobile__grid-margin;
    @include tablet {
      @include display-flex(column, center, left);
      padding: $base__padding * 5 $tablet__grid-margin;
    }
    @include desktop {
      padding: $base__padding * 6 $desktop__grid-margin;
    }
  }
  &__title-bar {
    @include tablet {
      width: 100%;

      @include display-flex(row, space-between, center);
    }
  }
  &__left-side {
    @include tablet {
      @include display-flex(row, flex-start, center);
    }
  }
  &__title {
    @include font__mobile-h1-header;
    margin: 0;
    font-weight: bold;
    @include tablet {
      @include font__h1;
      width: $tablet__grid-gutter + ($tablet__grid-column * 2);
      margin-right: $tablet__grid-gutter * 2;
    }
  }
  &__social-media {
    margin-top: 14px;
    margin-bottom: 14px;
    width: $mobile__grid-gutter + ($mobile__grid-column * 3);
    @include display-flex(row, left, center);
    @include tablet {
      width: $tablet__grid-column * 3 + $tablet__grid-gutter * 2;
      justify-content: left;
      margin: 0px;
    }
  }

  &__icon {
    height: $mobile-h1-header__line-height/2;
    margin-right: $mobile__grid-column;
    @include tablet {
      margin-right: $tablet__grid-gutter * 2;
      height: $h2__line-height/1.5;
    }
  }

  &__logo {
    display: none;
    font-weight: 300;
    @include tablet {
      margin: 0px;
      display: inline-block;
      @include font__h2;
      width: $tablet__grid-column + $tablet__grid-gutter;
      text-align: right;
    }
  }
  &__labels {
    @include tablet {
      width: ($tablet__grid-column * 6) + ($tablet__grid-gutter * 5);
      @include display-flex(row, space-between, center);
    }

    &-container {
      margin-bottom: $base__padding * 3;
      @include tablet {
        width: ($tablet__grid-column * 2) + $tablet__grid-gutter;
        margin-bottom: $base__padding * 5;
        @include font__labels;
      }
    }
  }

  &__label {
    &-title {
      margin: $base__padding * 3 0;
      h3 {
        margin: 0;
      }
      @include tablet {
        margin-top: $base__padding * 6;
        margin-bottom: $base__padding * 3;
      }
      @include desktop {
        margin-top: $base__padding * 7;
      }
    }
    &-info {
      margin: $base__padding * 3 0;
      p {
        margin: 0;
      }
    }
    &-email {
      text-decoration: none;
      color: $color__label-style;
      margin: $base__padding * 3 0;
      @include tablet {
        margin-bottom: $base__padding * 5;
      }
    }
  }
  &__copyright {
    @include tablet {
      @include font__labels;
      width: 100%;
      text-align: left;
      span {
        display: none;
      }
    }
  }
}
